* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;  
    user-select: none;   
}
body {
    cursor: url('../images/mouse-arrow.png'), auto;
}
.wrapper {
    background: url(../images/cave.jpg) no-repeat center;
    background-size: cover;    
    min-height: 100vh;
    font-size: 18px;
    display: none;   
}
.mainMenu {
    background: url(../images/caveBAck.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}
.menuWrap {
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 100vh;    
}
#dragon {
    position: absolute;
    top: 20%;
    left: 25%;
    max-width: 70%;  
}
.mainMenu .main {    
    background-color: rgb(19, 16, 31);
    width: 100%;
    height: 600px;
    position: relative;
    margin-top: 10%;
    border: 1px solid #ccb80b;  
    padding: 0;  
    margin-top: 114px;
}
.wrap {    
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    padding-top: 30px; 
}
/* modal style */
#myModal {
    padding: 15px 17px 0;
}
.modal .modal-dialog {
    max-width: 600px;
    margin: 7.3rem auto;
}
.modal-dialog .modal-content {
    width: 100%;   
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    padding: 20px 10px;   
}
.modal-content img {
    width: 25%;
    height: 25%;
    padding: 3px;
    border-radius: 6px;
}
.modal-content .close {
    font-size: 1.2em;
    line-height: 40px;
    position: relative;
    top: 5px;
}
.modal-content .close:hover span {
    color: red;
    font-weight: bold;
}
.menuButtons {
    position: relative;
    display: none; 
}
/* animate menu buttons */
.menuButtons .menuBtn:nth-child(1){
    animation: animateLeft .3s .1s forwards;
}
.menuButtons .menuBtn:nth-child(2){
    animation: animateright .3s .3s forwards;
}
.menuButtons .menuBtn:nth-child(3){
    animation: animateLeft .3s .5s forwards;
}
.menuButtons .musicBtn {
    animation: animateright .3s .7s forwards;
}
.menuButtons .menuBtn:nth-child(5) {
    animation: animateLeft .3s 1s forwards;
}
.menuButtons .menuBtn:nth-child(2),.menuButtons .musicBtn {
    transform: translateX(100px);
    opacity: 0;
}
.menuButtons .menuBtn:nth-child(1),.menuButtons .menuBtn:nth-child(3),
.menuButtons .menuBtn:nth-child(5) {
    transform: translateX(-100px);
    opacity: 0;
}
.menuBtn {
    width: 140px;
    height: 40px;
    border-radius: 4px;    
    background-color:rgba(27, 5, 8, 0.7);
    color: #fff;    
    margin: 0 7px; 
    position: relative;
    border: 2px solid #ffb03b;
    transition: 'font-size' 0.075s;    
}
.menuBtn:hover {
    background-color: rgba(62, 0, 45, 0.8);     
    font-size: 18px;
    transition: font-size 0.2s;
}
.menuBtn:focus {
    outline: none;
}
.timeBtn {
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    color: #fff;
    z-index: 2;
    border: 2px solid rgb(145, 20, 68);   
    background-color: rgba(27, 5, 8, 0.7);
    visibility: hidden;
}
.timeBtn:hover {
    background-color: rgba(253, 222, 45, 0.7);
    transition: background-color 0.2s;
    color: #000;
    font-weight: bold;
}
.timeBtn:focus {
    outline: none;
}
.min1 {
    bottom: 123px;
    left: 145px;
}
.min2 {
    bottom: 62px;
    left: 145px;
}
.min3 {
    bottom: 123px;
    left: 555px;
}
.infinity {
    bottom: 62px;
    left: 555px;
}
.start {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: none;
}
.backBtn {
    position: absolute;
    bottom: 15px;
    left: 15px; 
    display: none;
    z-index: 1;
}
#myCanvas {
    display: block;
    margin: auto;
    position: relative;  
}
.menuButtons #myCanvasTime {   
    position: absolute;    
    left: 0;
    right: 0; 
    margin: 0 auto;    
    bottom: 80px;
    z-index: 1;    
}
.difficulty {        
    position: relative;
    width: 140px;
    height: 40px;
    background-color: rgba(27, 5, 8, 0.7);
    display: block;
    margin: auto;
    border: 1px splid black;
    z-index: 2;
}
.difficulty:hover {
    background-color:rgba(62, 0, 45, 0.8);     
}
/* Music button style and animation */
.musicBtn {    
    position: relative;
    display: flex;    
    width: 140px;
    height: 40px;
    border: 2px solid #ffb03b;    
    background-color:rgba(27, 5, 8, 0.7);
    margin: 10px auto; 
    border-radius: 4px;
    color: #fff;
    text-align: center;
    line-height: 35px;  
    cursor: pointer;
    z-index: 2;
}
.music1 {
    width: 200px;   
    border: 2px solid transparent;
    background: transparent !important;
    transition: .3s; 
}
.animDiv {
    animation: disassembly .4s forwards;    
}
.musicBtn span {
    position: absolute;
    left: 0;
    right: 0;       
}
.musicBtn>div {     
    position: relative;     
    top: -2px; 
    width: 40px;
    height: 40px;
    color: #fff;    
    border: 2px solid #ffb03b; 
    background-color:rgba(27, 5, 8, 0.7);
    border-radius: 4px;
    opacity: 0;    
    font-size: 16px;
    z-index: -1;
}
.musicBtn>div img {
   position: absolute;
   width: 40%;
   height: 40%;
} 
#musicFour {
    overflow: hidden;
}
#musicFour img {
    width: 80%;
    height: 80%;   
    top: 3px;
    left: 6px;
}
.slideLine {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    border-left: 2px solid #911444;
    transform: rotate(-45deg) translate(0px, -52px);    
    left: 9px;
    top: -28px;    
    z-index: 5;
    margin: 0 !important;
}
#musicFour:hover .slideLine{
    transform: rotate(-45deg) translate(0px, 0px);
    transition: .3s;    
}
.musicBtn>div:hover {
    background-color:rgba(62, 0, 45, 0.8);   
    transition: .2s;
}
.musicBtn:hover {   
    background-color:rgba(62, 0, 45, 0.8);    
}
.musicBtn:hover span{
    font-size: 18px;
    transition: .2s;
}

@keyframes disassembly {
    0%{
        opacity: 0;
    }
    100% {  
        margin: 0px 5px;            
        opacity: 1;
    }
}
@keyframes restore {
    0%{
        margin: 0px 5px;            
        opacity: 1;        
    }
    100% {  
        opacity: 0;
    }
}
.musicControll {     
    position: relative; 
    transform: translate(-50%,-50%); 
    left: 50%;       
    width: 40px;
    height: 40px;
    color: #fff;    
    border: 2px solid #911444;    
    border-radius: 50%;       
    font-size: 16px;  
    margin-top: 55px;
    overflow: hidden; 
}
.musicControll img {
    display: block;    
    width: 80%;
    height: 80%;   
    margin: auto; 
    margin-top: 2px;  
}
.musicControll:hover .slideLine, .changeLine{
    transform: rotate(-45deg) translate(0px, 0px);
    transition: .3s;    
    border-left: 2px solid #911444;
}
.cardBack, .highscores, .timer{
    position: relative;
    display: block;
    margin: 10px auto;
}
.timer{
    position: relative;
    z-index: 2;
}
.btnDiv {
    display: flex;
    justify-content: center; 
    visibility: hidden;
}
.wrapImg {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
    padding-top: 15px;
}
#game {
    padding-left: 4px;
    padding-right: 0;
}
.memoryGame {
    width: 100%; 
    display: flex;
    flex-flow: row wrap;
    perspective: 1000px;
    position: relative;
}
#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.memoryGame #winLose {
    position: absolute;
    color: #fff;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 100%;
    text-align: center;
    font-size: 0px;   
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    font-family: winLose;
}
.memoryGame .card {
    max-width: calc(25% - 0.375em);
    max-height: calc(25% - 0.375em);;
    position: relative;
    margin: 3px;   
    transform-style: preserve-3d;
    transition: .5s;   
    background-color: transparent; 
    border: none;
}
.card1 {
    width: calc(20% - 0.375em);
    background: url('../images/lastCard1.png') no-repeat center;
    background-size: cover;
    margin: 3px; 
}
.card1 img {
    width: 100%;
    height: 100%;
}
.card.flip {
    transform: rotateY(180deg);    
    transition: .5s;
}
.front, .back {
    width: 100%;  
    backface-visibility: hidden; 
    border-radius: 5px;     
}
.front {
    transform: rotateY(180deg);
    position: absolute;   
}
.playerSign {    
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    align-content: center;    
    width: 400px;
    height: 300px;
    border: 1px solid rgb(204, 159, 11);;
    border-radius: 4px;
    background-color: #8e0c0c;
    text-align: center; 
    padding-top: 40px;
    color: #fff;
    font-size: 18px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 40; 
    display: none;  
}
.playerSign img {
    width: 45px;
    height: 45px;
}
.playerSign button {   
    display: block;
    width: 190px;
    height: 35px;
    margin: auto;
    border-radius: 5px;
}
.playerSign i {
    padding: 0 20px;
    font-size: 12px;
}
.leftD {
    position: absolute;
    top: 15px;
    left: 15px;
}
.rightD {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.playerSign p {
    margin-bottom: 10px;
}
#player {
    margin-bottom: 5px;
    padding-left: 8px;
    width: 190px;
    height: 35px;    
    font-weight: 500;
}
#player::placeholder {
    font-weight: normal;
}
.playerName {
    color: #fff;
    text-align: center;
    width: 140px;
    height: 35px;
    border: 2px solid rgb(145, 20, 68);
    margin: 0 auto 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#sign, #playerOne {
    margin-bottom: 30px;
    transform: scale(1);
    border: 1px solid #bdbdbd; 
    background: #201818;
    color: #fff;
    transition: .1s;  
}
#sign:hover, #playerOne:hover {
    color: #fad232;        
}
#sign:focus, #playerOne:focus, #player:focus {
    outline: none;
}
#sign:active, #playerOne:active {
transform: scale(.97);
}
.swal2-show {
    position: relative;
    top: -35px;
}
.swal2-icon.swal2-warning {
    border-color: #efcd52 !important;
    color: #efcd52 !important;
}
.swal2-styled.swal2-confirm {
    background-color: #c01414 !important;
}
@font-face {
    font-family: memoryFont;
    src: url(../font/GreatVibes-Regular.ttf);
}
@font-face {
    font-family: digitalClock;
    src: url(../font/digitalClock.ttf);
}
@font-face {
    font-family: winLose;
    src: url(../font/FrozenNeutra.otf)
}
@font-face {
    font-family: scorelist;
    src: url(../font/Quesha.ttf)
}
.menu {
    border: 2px solid #fad232;    
}
.menu h1, .main h1 {
    font-family: memoryFont;
    font-size: 65px;    
    color:#fad232;
    text-align: center;
    margin: 20px 0;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
.main h1 {
    margin: 0;
    padding-bottom: 50px;
}
#newGame, #options {
    width: 140px;
    height: 35px;
    transform: scale(1);
    display: block;
    margin: 20px auto;
    background-color: rgb(145, 20, 68);
    outline: none;
    border:2px solid black;
    color: #fff;
    border-radius: 3px;
    transition: 0.2s;   
}
#options {
    transition: 0.35s;   
}
#options:hover i {
    font-weight: bold;
    transition: all 0.35s;    
}
#newGame:active, #options:active {
    transform: scale(.97);
    transition: .1s;
}
#attempts {
    text-align: center;
    color: #fff;
    font-size: 20px;
}
#num {
    padding-left: 5px;
}
.clock {
    color: #fff;
    text-align: center;
    padding-top: 50px;
    font-size: 60px;
    font-family: digitalClock;
}
#slideOptions {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #fff;
    background-color:rgb(145, 20, 68);
    border: 1px solid black;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: none;
}
.scores {
    width: 70%;
    height: 70%;
    margin: auto;
}
.listHighscoresM {
    z-index: 4;   
}
.listHighscoresH {
    z-index: 3;   
}
.fa-angle-left, .fa-angle-right {
    position: absolute;
    font-size: 27px;   
    width: 60px;
    height: 60px; 
    line-height: 60px !important;
    top: 6.5%;
}
.fa-angle-left {  
    left: 27%;    
}
.fa-angle-right { 
    right: 27%;   
}
.fa-angle-left:hover, .fa-angle-right:hover {
    font-size: 33px;
    transition: .1s;    
    top: 6.4%;
    cursor: pointer;
}
#diff {
    position: absolute;
    top: 7%;
    transform: translateX(-50%);
    left: 50%;
    font-size: 35px;
    font-family: scorelist;
    padding: 0;
}
.fa-times-circle {
    position: absolute;
    top: 5%;
    right: 15%;
    font-size: 30px; 
    transition: .1s;
}
.fa-times-circle:hover {
   color: #8e0c0c;
   cursor: pointer;
   font-weight: bold;
}
.listHighscores, .listHighscoresM, .listHighscoresH {    
    transform: scale(0);
    position: absolute;   
    width: 85%;
    height: 125%;
    top: -70px;
    left: 55px;    
    background: url(../images/scroll.png) no-repeat center;
    background-size: contain;    
    text-align: center;
    font-weight: bold;
    padding-top: 165px;
    transition: all 0.9s;
    z-index: 5;   
}
.active  {
    transform: scale(1);    
}
.listHighscores p,.listHighscoresM p, .listHighscoresH p {
    font-family: scorelist;
    font-size: 1.5em;
    margin: 5px;
}
.listHighscores span, .listHighscoresM span, .listHighscoresH span {
    padding-left: 15px;
}
@media(max-width: 1200px) {
    .min1 {
        bottom: 123px;
        left: 127px;
    }
    .min2 {
        bottom: 62px;
        left: 127px;
    }
    .min3 {
        bottom: 123px;
        left: 536px;
    }
    .infinity {
        bottom: 62px;
        left: 536px;
    }
    #dragon {
        left: 23%;
    }    
    #diff {
        top: 8%;
    }
    .fa-angle-left, .fa-angle-right {
        top: 7.6%;
    }
    .fa-angle-left:hover, .fa-angle-right:hover {
        top: 7.5%;
    }
    .fa-times-circle {
        top: 6%;
    }
}
@media (max-width: 991px) {  
    .clock {
        padding: 0;
    }
    #slideOptions {
        display: block;  
        transform: rotate(0deg);      
        transition: .6s;
    }
    #slideOptions:focus {
        outline: none;
    }
    .menu {
        margin-bottom: 10px;
    }    
    .menuBtns {
        display: none;
    }
    .musicControll { 
        top: -60px;
        left: 10%;
        margin: 0;
    }
}
@media (max-width: 767px) { 
    .min1, .min2 {      
        left: 37px;
    }     
    .min3,.infinity {      
        left: 446px;
    }
    #dragon {
        left: 15%;
    }  
    #diff {
        top: 6%;
    }
    .fa-times-circle {       
        top: 4%;     
    }   
    .listHighscores, .listHighscoresM, .listHighscoresH { 
        width: 100%;
        height: 100%;
        padding-top: 130px;
        top: 0;
        left: 0;       
    }  
    .listHighscores p, .listHighscoresM p, .listHighscoresH p { 
        font-size: 1.2em;
    }
    .fa-angle-left, .fa-angle-right {
        position: absolute;
        top: 5.5%;;
    }
    .fa-angle-left:hover, .fa-angle-right:hover {
        position: absolute;
        top: 5.5%;
    }
    .mainMenu {
        min-height: 100vh;  
    }
    .mainMenu .main {
        margin-top: 0px;
        min-height: 100%;
    }   
}
@media (max-width: 576px) {
    .min1, .min2 {     
        left: 15%;
    }
    .min3, .infinity {      
        left: 75%;
    }
    .btnDiv {
        margin-top: 20px;
    }
    .backBtn, .start {
        width: 80px;
    }
    .fa-times-circle {       
        top: 4%;   
        right: 16%;  
    }   
}
@media (max-width: 500px) {
    .listHighscores, .listHighscoresM, .listHighscoresH {
        padding-top: 140px;
    }    
    .listHighscores p, .listHighscoresM p, .listHighscoresH p { 
        font-size: 1.1em;       
    }
    #diff {
        top: 7.5%;
    }
    .fa-times-circle {       
        top: 6%;   
        right: 15%;  
    }   
    .fa-angle-left, .fa-angle-right {
        position: absolute;
        top: 7%;;
    }
    .fa-angle-left:hover, .fa-angle-right:hover {
        position: absolute;
        top: 7%;
    }
}
@media (max-width: 470px) {
    #diff {
        top: 9%;
    }
    .fa-times-circle {       
        top: 8%;   
        right: 15%;  
    }   
    .fa-angle-left, .fa-angle-right {
        position: absolute;
        top: 8.5%;;
    }
    .fa-angle-left:hover, .fa-angle-right:hover {
        position: absolute;
        top: 8.5%;
    }
}
@media (max-width: 450px) {
    .min1, .min2 {     
        left: 15%;
        background: rgba(0, 0, 0, 0.8)
    }
    .min3, .infinity {      
        left: 70%;
        background: rgba(0, 0, 0, 0.8)
    } 
    .listHighscores, .listHighscoresM, .listHighscoresH {
        padding-top: 150px;
    }    
    .listHighscores p, .listHighscoresM p, .listHighscoresH p { 
        font-size: 1em;       
    }
    #diff {
        top: 12%;
    }
    .fa-times-circle {       
        top: 11%;   
        right: 15%;  
    }   
    .fa-angle-left, .fa-angle-right {
        position: absolute;
        top: 11.5%;;
    }
    .fa-angle-left:hover, .fa-angle-right:hover {
        position: absolute;
        top: 11.5%;
    }
}
@media (max-width: 420px) {
    #diff {
        top: 13.5%;
    }    
    .playerSign {
        width: 95%;
    }  
    .fa-times-circle {       
        top: 12.5%;   
        right: 15%;  
    }   
    .fa-angle-left, .fa-angle-right {
        position: absolute;
        top: 13%;;
    }
    .fa-angle-left:hover, .fa-angle-right:hover {
        position: absolute;
        top: 13%;
    }
}
@media (max-width: 400px) {
    .listHighscores, .listHighscoresM, .listHighscoresH {
        width: 200%;
        left: -50%;
    }    
    img.leftD, img.rightD {
        display: none;
    }
    .playerSign {
        top: 53%;        
    }
    #diff {
        top: 6%;
    }
    .fa-times-circle {       
        top: 4%;   
        right: 25%;  
    }   
    .fa-angle-left, .fa-angle-right {
        position: absolute;
        top: 5.5%;       
    }
    .fa-angle-left {
        left: 32%;
    }
    .fa-angle-right {
        right: 32%;
    }
    .fa-angle-left:hover, .fa-angle-right:hover {      
        top: 5.5%;       
    }
    .fa-angle-left:hover {
        left: 32%;
    }
    .fa-angle-left:hover {
        right: 32%;
    }
    .modal-dialog .modal-content {
        padding: 10px 2px;
    }
}
@media (max-width: 357px) { 
    #dragon {
        top: 35%;
    }    
    .main h1 {       
        padding-bottom: 30px;
    }
}
@keyframes animateright {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes animateLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
