* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;  
    user-select: none;   
}
body {
    cursor: url('../images/mouse-arrow.png'), auto;
}
.wrapper {
    background: url(../images/cave.jpg) no-repeat center;
    background-size: cover;    
    min-height: 100vh;
    font-size: 18px;
    display: none;   
}
.mainMenu {
    background: url(../images/caveBAck.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;    
}
.menuWrap {
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 100vh;    
}
#dragon {
    position: absolute;
    top: 20%;
    left: 23.5%;
    max-width: 70%;  
}
.mainMenu .main {    
    background-color: rgb(19, 16, 31);
    width: 100%;
    height: 600px;
    position: relative;
    margin-top: 10%;
    border: 1px solid #ccb80b;  
    padding: 0;  
    margin-top: 114px;
}
.wrap {    
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    padding-top: 30px; 
}
@font-face {
    font-family: memoryFont;
    src: url(../font/GreatVibes-Regular.ttf);
}
@font-face {
    font-family: digitalClock;
    src: url(../font/digitalClock.ttf);
}
@font-face {
    font-family: winLose;
    src: url(../font/FrozenNeutra.otf);
}
@font-face {
    font-family: scorelist;
    src: url(../font/Quesha.ttf);
}